.entityInfoArtist {
  margin: 40px 0px 50px 0px;
}

.entityInfoArtist .headerButton {
  margin: 20px 0px;
}

.entityInfoArtist .headerButton button {
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 10px 40px;
  border: 2px solid #a8a8a8;
  font-weight: bold;
}

.entityInfoArtist .headerButton button:hover {
  background-color: deeppink;
}

.artistContainer {
  border-top: 2px solid #a8a8a8;
  border-bottom: 2px solid #a8a8a8;
  padding: 20px 0px;
}
/*# sourceMappingURL=artist.css.map */