.register-and-login{
    background-image:url('../assets/images/background-register-login.jpg');
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    height: 100vh;
    display: inline-block;

    form{
        max-width: 600px;
        background-color: rgba(0,0,0,0.5);
        margin: 40px auto;
        padding: 20px;
        border-radius: 10px;
        color: white;
        .form-group:last-child{
            width: 100%;
        }
        label{
            text-transform: uppercase;
            letter-spacing: 1px;
        } 
        input{
            background-color: transparent;
            border:none;
            border-bottom: 2px solid white;
            border-radius: 0px;
            color: white;
           
            &:active:valid:visited{
                background-color: transparent;
                border:none;
                border-bottom: 2px solid white;
                border-radius: 0px;
                color:white;
            } 
            &:focus{
                box-shadow: none;
            }
            &::-moz-placeholder{
                color:white;
            }
            &:-ms-input-placeholder{
                color:white;    
            }
            &::-ms-input-placeholder{
                color:white;
            }
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: white;;
            }
        }
        input[type="submit"]{
            padding: 10px;
            width: 100%;
            border:2px solid whitesmoke;
            font-size: 1.3rem;
            color: white;
            border-radius: 20px;
            background-color: transparent;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover{
                border-color: cornflowerblue;
                color: grey;
                background-color: rgba(0,0,0,0.2);
            }
        }
        a{
            font-size: 12px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            &:hover{
                color: coral;
                cursor: pointer;
            }
        }

    }
}