.register-and-login {
  background-image: url("../assets/images/background-register-login.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: inline-block;
}

.register-and-login form {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.register-and-login form .form-group:last-child {
  width: 100%;
}

.register-and-login form label {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register-and-login form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
  color: white;
}

.register-and-login form input:active:valid:visited {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
  color: white;
}

.register-and-login form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register-and-login form input::-moz-placeholder {
  color: white;
}

.register-and-login form input:-ms-input-placeholder {
  color: white;
}

.register-and-login form input::-ms-input-placeholder {
  color: white;
}

.register-and-login form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

.register-and-login form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border: 2px solid whitesmoke;
  font-size: 1.3rem;
  color: white;
  border-radius: 20px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register-and-login form input[type="submit"]:hover {
  border-color: cornflowerblue;
  color: grey;
  background-color: rgba(0, 0, 0, 0.2);
}

.register-and-login form a {
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.register-and-login form a:hover {
  color: coral;
  cursor: pointer;
}
/*# sourceMappingURL=loginAndRegister.css.map */