#topContainer {
  min-width: 100%;
  height: 100vh;
}

#topContainer #navBarContainer {
  background-color: #282828;
  width: 220px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

#topContainer #navBarContainer .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
}

#topContainer #navBarContainer .navBar .logo {
  margin-bottom: 20px;
}

#topContainer #navBarContainer .navBar .logo img {
  width: 64x;
  height: 64px;
}

#topContainer #navBarContainer .navBar .group {
  width: 100%;
}

#topContainer #navBarContainer .navBar .group .navItem {
  margin: 10px 0px;
}

#topContainer #navBarContainer .navBar .group .navItem a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 18px;
}

#topContainer #navBarContainer .navBar .group .navItem a:hover {
  color: white;
}

#topContainer #navBarContainer .navBar .group .navItem.searchItem {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  padding: 10px 0px;
  font-weight: 700;
  vertical-align: middle;
}

#topContainer #navBarContainer .navBar .group .navItem.searchItem img {
  width: 22px;
  height: 22px;
  float: right;
  margin-top: 2px;
}

#topContainer #mainViewContainer {
  margin-left: 220px;
  padding-bottom: 90px;
  width: calc(100%-220px);
}

#topContainer #mainViewContainer #mainContent {
  padding: 0 20px;
  height: calc(100vh-90px);
}

#topContainer #mainViewContainer #mainContent h1 {
  color: #a4a4a4;
  font-weight: bold;
  letter-spacing: 1px;
}

#topContainer #mainViewContainer #mainContent .gridViewItem {
  display: inline-block;
  margin-right: 20px;
  width: 29%;
  max-width: 200px;
  min-width: 150px;
  margin-bottom: 20px;
}

#topContainer #mainViewContainer #mainContent .gridViewItem img {
  width: 100%;
}

#topContainer #mainViewContainer #mainContent .gridViewItem .gridViewInfo {
  color: white;
  font-size: 18px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#topContainer #mainViewContainer #mainContent .gridViewItem a {
  text-decoration: none;
}

#topContainer #mainViewContainer .entityInfo {
  padding: 40px 0px 10px 0px;
  height: 300px;
}

#topContainer #mainViewContainer .entityInfo .leftSection {
  width: 30%;
  float: left;
  max-width: 250px;
  padding: 5px 0px;
}

#topContainer #mainViewContainer .entityInfo .leftSection img {
  width: 100%;
}

#topContainer #mainViewContainer .entityInfo .rightSection {
  width: 70%;
  float: left;
  padding: 5px 10px 5px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#topContainer #mainViewContainer .entityInfo .rightSection h2 {
  margin-top: 0px;
  letter-spacing: 1px;
}

#topContainer #mainViewContainer .entityInfo .rightSection p {
  color: #939393;
  font-weight: 200;
}

#topContainer #mainViewContainer .trackListContainer {
  display: flow-root;
}

#topContainer #mainViewContainer .trackListContainer ul {
  list-style-type: none;
  padding-left: 0px;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow {
  padding: 10px 0px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow div {
  float: left;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow span {
  vertical-align: middle;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackCount {
  width: 10%;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackCount .playAlbum {
  width: 18px;
  height: 18px;
  visibility: hidden;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackInfo {
  width: 50%;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackInfo .trackName {
  color: #fff;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackOption {
  text-align: center;
  width: 20%;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackOption .optionButton {
  width: 40px;
  visibility: hidden;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackDuration {
  width: 20%;
  text-align: center;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover {
  background-color: #282828;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover .trackCount .playAlbum {
  visibility: visible;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover .trackCount .trackNumber {
  visibility: hidden;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover .trackOption .optionButton {
  visibility: visible;
}

.optionMenu {
  position: fixed;
  background-color: #282828;
  width: 200px;
  border: 1px solid #939393;
  border-radius: 3px;
  z-index: 1000;
  display: none;
}

.optionMenu .item {
  background-color: #282828;
  border: 1px solid #a7a7a7;
  width: 100%;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  color: #a5a5a5;
  cursor: pointer;
}

.optionMenu .item:hover {
  color: white;
}
/*# sourceMappingURL=mainContainer.css.map */