#topContainer{
    min-width: 100%;
    height: 100vh;
    #navBarContainer{
        background-color: #282828;
        width: 220px;
        height: 100vh;
        padding: 20px;
        position: fixed;
        top:0;
        left: 0;
        .navBar{
            display: flex;
            padding: 0px;
            flex-direction: column;
            -ms-flex-direction: column;
            .logo{
                margin-bottom: 20px;
                img{
                    width: 64x;
                    height: 64px;
                }
            }
            .group{
                width: 100%;
                .navItem{
                    margin: 10px 0px;
                    a{
                        text-decoration: none;
                        color: #a4a4a4;
                        font-size: 18px;       
                        &:hover{
                            color:white;
                        }
                    }
                }
                .navItem.searchItem{
                    border-top: 1px solid #a5a5a5;
                    border-bottom: 1px solid #a5a5a5;
                    padding: 10px 0px;
                    font-weight: 700;
                    vertical-align: middle;
                    img{
                        width: 22px;
                        height: 22px;
                        float: right;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    #mainViewContainer{
        margin-left: 220px;
        padding-bottom: 90px;
        width: calc(100%-220px);
        #mainContent{
            padding: 0 20px;
            height: calc(100vh-90px);
            h1{
                color: #a4a4a4;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .gridViewItem{
                display: inline-block;
                margin-right: 20px;
                width: 29%;
                max-width: 200px;
                min-width: 150px;
                margin-bottom: 20px;
                img{
                    width: 100%;
                }
                .gridViewInfo{
                    color: white;
                    font-size: 18px;
                    padding: 5px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                a{
                    text-decoration: none;
                }
            }
           
        }
        .entityInfo{
            padding: 40px 0px 10px 0px;
            height: 300px;
            .leftSection{
                width: 30%;
                float: left;
                max-width: 250px;
                padding: 5px 0px;
                img{
                    width: 100%;

                }
            }
            .rightSection{
                width: 70%;
                float: left;
                padding: 5px 10px 5px 40px;
                box-sizing: border-box;
                h2{
                    margin-top: 0px;
                    letter-spacing: 1px;
                }
                p{
                    color:#939393;
                    font-weight: 200;
                }
            }

        }
        .trackListContainer{
            display: flow-root;
            ul{
                list-style-type: none;
                padding-left: 0px;
                .trackListRow{
                    padding: 10px 0px;
                    width: 100%;
                    display: inline-flex;
                     div{
                         float:left;
                     }
                     span{
                        vertical-align: middle;
                     }
                     .trackCount{
                         width: 10%;
                         .playAlbum{
                             width: 18px;
                             height: 18px;
                             visibility: hidden;
                          }
                     }

                     .trackInfo{
                         width: 50%;
                         .trackName{
                             color:#fff;
                         }
                     }
                     .trackOption{
                        text-align: center;
                         width: 20%;
                        .optionButton{
                            width: 40px;
                            visibility: hidden;
                        }
                     }
                     .trackDuration{
                         width: 20%;
                        text-align: center;
                     }  
                     &:hover{
                        background-color: #282828; 
                        .trackCount{
                               .playAlbum{
                                visibility: visible;
                               }
                               .trackNumber{
                                   visibility: hidden;
                               }
                           }
                        .trackOption{
                            .optionButton{
                                visibility: visible;
                            }
                         }
                        
                     }    
                }            
            }
        }
    }
}
.optionMenu{
    position: fixed;
    background-color: #282828;
    width:200px;
    border:1px solid #939393;
    border-radius: 3px;
    z-index: 1000;
    display: none;
    .item{
        background-color: #282828;
        border:1px solid #a7a7a7;
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        font-weight: 400;
        color: #a5a5a5;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}