#nowPlayingBarContainer{
    width: 100%;
    background: #282828;
    position: fixed;
    bottom: 0;
}
#containerPlay{
        height: 90px;
        display: flex; 
        padding: 16px;
        box-sizing: border-box;
        .leftColumnPlay{
            width: 30%;
            min-width: 180px;
            .content{
                display: inline-flex;
                .albumImage{
                    .albumBarImage{
                        max-width: 64px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
               .trackInfo{
                span{
                    color: #a4a4a4;
                    vertical-align: top;
                    cursor: pointer;
                }
               }

            }
        }
        .centerColumnPlay{
            width: 40%;
            max-width: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .content{
                width: 100%;
            }
            .playerControls {
                .buttons{
                    text-align: center;
                }
                button{
                    margin: 0 auto;
                    background: transparent;
                    color: white;
                    border: none;
                    display: inline;
                    vertical-align: middle;
                    &:hover{
                        cursor: pointer;
                    }  
                    img{
                        width: 20px;
                        height: 20px;
                    }    
                }
               
                .pause, .play{
                        img{
                            width: 32px;
                            height: 32px;
                        }
                    }  
                
                .playbackBar{
                    display: flex;
                    .progressTime{
                        color: #a0a0a0;
                        font-size: 11px;
                        min-width: 40px;
                        text-align: center;
                    }
                    .progressBar{
                        width: 100%;
                        height: 12px;
                        display: inline-flex;
                        cursor: pointer;
                        .progressBarBg{
                            background: #404040;
                            height: 4px;
                            width: 100%;
                            border-radius: 2px;
                            margin-top: 6px;
                            .progressInfo{
                                background-color: #787878;
                                height: 4px;
                                width: 0;
                                border-radius: 2px;
                            }
                        }
                    }

                }   
            } 
        }
        .rightColumnPlay{
            width: 30%;
            min-width: 180px;
            
            .volumeBar{
                width: 180px;
                position: absolute;
                right: 20px;;
                top: 50%;
                transform: translateY(-50%);
                .controlButton{
                    background: transparent;
                    border:none;
                    width:20%;
                    float: left;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
              .volumeProgressBar{
                width: 80%;
                height: 12px;
                display: inline-flex;
                cursor: pointer;
                .progressVolume{
                    background: #404040;
                    height: 4px;
                    width: 100%;
                    border-radius: 2px;
                    margin-top: 6px;
                    .progressInfoVolume{
                        background-color: #787878;
                        height: 4px;
                        width: 0;
                        border-radius: 2px;
                    }
                }
            }               
        }
        }
    

    }
