#nowPlayingBarContainer {
  width: 100%;
  background: #282828;
  position: fixed;
  bottom: 0;
}

#containerPlay {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#containerPlay .leftColumnPlay {
  width: 30%;
  min-width: 180px;
}

#containerPlay .leftColumnPlay .content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#containerPlay .leftColumnPlay .content .albumImage .albumBarImage {
  max-width: 64px;
  margin-right: 10px;
  cursor: pointer;
}

#containerPlay .leftColumnPlay .content .trackInfo span {
  color: #a4a4a4;
  vertical-align: top;
  cursor: pointer;
}

#containerPlay .centerColumnPlay {
  width: 40%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#containerPlay .centerColumnPlay .content {
  width: 100%;
}

#containerPlay .centerColumnPlay .playerControls .buttons {
  text-align: center;
}

#containerPlay .centerColumnPlay .playerControls button {
  margin: 0 auto;
  background: transparent;
  color: white;
  border: none;
  display: inline;
  vertical-align: middle;
}

#containerPlay .centerColumnPlay .playerControls button:hover {
  cursor: pointer;
}

#containerPlay .centerColumnPlay .playerControls button img {
  width: 20px;
  height: 20px;
}

#containerPlay .centerColumnPlay .playerControls .pause img, #containerPlay .centerColumnPlay .playerControls .play img {
  width: 32px;
  height: 32px;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressTime {
  color: #a0a0a0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressBar {
  width: 100%;
  height: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressBar .progressBarBg {
  background: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 6px;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressBar .progressBarBg .progressInfo {
  background-color: #787878;
  height: 4px;
  width: 0;
  border-radius: 2px;
}

#containerPlay .rightColumnPlay {
  width: 30%;
  min-width: 180px;
}

#containerPlay .rightColumnPlay .volumeBar {
  width: 180px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#containerPlay .rightColumnPlay .volumeBar .controlButton {
  background: transparent;
  border: none;
  width: 20%;
  float: left;
}

#containerPlay .rightColumnPlay .volumeBar .controlButton img {
  width: 20px;
  height: 20px;
}

#containerPlay .rightColumnPlay .volumeBar .volumeProgressBar {
  width: 80%;
  height: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

#containerPlay .rightColumnPlay .volumeBar .volumeProgressBar .progressVolume {
  background: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 6px;
}

#containerPlay .rightColumnPlay .volumeBar .volumeProgressBar .progressVolume .progressInfoVolume {
  background-color: #787878;
  height: 4px;
  width: 0;
  border-radius: 2px;
}
/*# sourceMappingURL=nowPlayingBarContainer.css.map */