html,body{
    padding: 0;
    margin: 0;
    background-color: #181818;
    color:#a4a4a4;
} 

@import "loginAndRegister";
@import "nowPlayingBarContainer";
@import "artist";
@import "mainContainer";

 
.playlistContainer{
    .buttonItem{
        margin: 30px 0px;
        .newPlaylist{
            padding: 10px 40px;
            border: 2px solid #494949;
            border-radius: 20px;
        }
    }
}