html, body {
  padding: 0;
  margin: 0;
  background-color: #181818;
  color: #a4a4a4;
}

.register-and-login {
  background-image: url("../assets/images/background-register-login.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: inline-block;
}

.register-and-login form {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.register-and-login form .form-group:last-child {
  width: 100%;
}

.register-and-login form label {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register-and-login form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
  color: white;
}

.register-and-login form input:active:valid:visited {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
  color: white;
}

.register-and-login form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register-and-login form input::-moz-placeholder {
  color: white;
}

.register-and-login form input:-ms-input-placeholder {
  color: white;
}

.register-and-login form input::-ms-input-placeholder {
  color: white;
}

.register-and-login form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

.register-and-login form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border: 2px solid whitesmoke;
  font-size: 1.3rem;
  color: white;
  border-radius: 20px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register-and-login form input[type="submit"]:hover {
  border-color: cornflowerblue;
  color: grey;
  background-color: rgba(0, 0, 0, 0.2);
}

.register-and-login form a {
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.register-and-login form a:hover {
  color: coral;
  cursor: pointer;
}

#nowPlayingBarContainer {
  width: 100%;
  background: #282828;
  position: fixed;
  bottom: 0;
}

#containerPlay {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#containerPlay .leftColumnPlay {
  width: 30%;
  min-width: 180px;
}

#containerPlay .leftColumnPlay .content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#containerPlay .leftColumnPlay .content .albumImage .albumBarImage {
  max-width: 64px;
  margin-right: 10px;
  cursor: pointer;
}

#containerPlay .leftColumnPlay .content .trackInfo span {
  color: #a4a4a4;
  vertical-align: top;
  cursor: pointer;
}

#containerPlay .centerColumnPlay {
  width: 40%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#containerPlay .centerColumnPlay .content {
  width: 100%;
}

#containerPlay .centerColumnPlay .playerControls .buttons {
  text-align: center;
}

#containerPlay .centerColumnPlay .playerControls button {
  margin: 0 auto;
  background: transparent;
  color: white;
  border: none;
  display: inline;
  vertical-align: middle;
}

#containerPlay .centerColumnPlay .playerControls button:hover {
  cursor: pointer;
}

#containerPlay .centerColumnPlay .playerControls button img {
  width: 20px;
  height: 20px;
}

#containerPlay .centerColumnPlay .playerControls .pause img, #containerPlay .centerColumnPlay .playerControls .play img {
  width: 32px;
  height: 32px;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressTime {
  color: #a0a0a0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressBar {
  width: 100%;
  height: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressBar .progressBarBg {
  background: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 6px;
}

#containerPlay .centerColumnPlay .playerControls .playbackBar .progressBar .progressBarBg .progressInfo {
  background-color: #787878;
  height: 4px;
  width: 0;
  border-radius: 2px;
}

#containerPlay .rightColumnPlay {
  width: 30%;
  min-width: 180px;
}

#containerPlay .rightColumnPlay .volumeBar {
  width: 180px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#containerPlay .rightColumnPlay .volumeBar .controlButton {
  background: transparent;
  border: none;
  width: 20%;
  float: left;
}

#containerPlay .rightColumnPlay .volumeBar .controlButton img {
  width: 20px;
  height: 20px;
}

#containerPlay .rightColumnPlay .volumeBar .volumeProgressBar {
  width: 80%;
  height: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

#containerPlay .rightColumnPlay .volumeBar .volumeProgressBar .progressVolume {
  background: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 6px;
}

#containerPlay .rightColumnPlay .volumeBar .volumeProgressBar .progressVolume .progressInfoVolume {
  background-color: #787878;
  height: 4px;
  width: 0;
  border-radius: 2px;
}

.entityInfoArtist {
  margin: 40px 0px 50px 0px;
}

.entityInfoArtist .headerButton {
  margin: 20px 0px;
}

.entityInfoArtist .headerButton button {
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 10px 40px;
  border: 2px solid #a8a8a8;
  font-weight: bold;
}

.entityInfoArtist .headerButton button:hover {
  background-color: deeppink;
}

.artistContainer {
  border-top: 2px solid #a8a8a8;
  border-bottom: 2px solid #a8a8a8;
  padding: 20px 0px;
}

#topContainer {
  min-width: 100%;
  height: 100vh;
}

#topContainer #navBarContainer {
  background-color: #282828;
  width: 220px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

#topContainer #navBarContainer .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
}

#topContainer #navBarContainer .navBar .logo {
  margin-bottom: 20px;
}

#topContainer #navBarContainer .navBar .logo img {
  width: 64x;
  height: 64px;
}

#topContainer #navBarContainer .navBar .group {
  width: 100%;
}

#topContainer #navBarContainer .navBar .group .navItem {
  margin: 10px 0px;
}

#topContainer #navBarContainer .navBar .group .navItem a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 18px;
}

#topContainer #navBarContainer .navBar .group .navItem a:hover {
  color: white;
}

#topContainer #navBarContainer .navBar .group .navItem.searchItem {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  padding: 10px 0px;
  font-weight: 700;
  vertical-align: middle;
}

#topContainer #navBarContainer .navBar .group .navItem.searchItem img {
  width: 22px;
  height: 22px;
  float: right;
  margin-top: 2px;
}

#topContainer #mainViewContainer {
  margin-left: 220px;
  padding-bottom: 90px;
  width: calc(100%-220px);
}

#topContainer #mainViewContainer #mainContent {
  padding: 0 20px;
  height: calc(100vh-90px);
}

#topContainer #mainViewContainer #mainContent h1 {
  color: #a4a4a4;
  font-weight: bold;
  letter-spacing: 1px;
}

#topContainer #mainViewContainer #mainContent .gridViewItem {
  display: inline-block;
  margin-right: 20px;
  width: 29%;
  max-width: 200px;
  min-width: 150px;
  margin-bottom: 20px;
}

#topContainer #mainViewContainer #mainContent .gridViewItem img {
  width: 100%;
}

#topContainer #mainViewContainer #mainContent .gridViewItem .gridViewInfo {
  color: white;
  font-size: 18px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#topContainer #mainViewContainer #mainContent .gridViewItem a {
  text-decoration: none;
}

#topContainer #mainViewContainer .entityInfo {
  padding: 40px 0px 10px 0px;
  height: 300px;
}

#topContainer #mainViewContainer .entityInfo .leftSection {
  width: 30%;
  float: left;
  max-width: 250px;
  padding: 5px 0px;
}

#topContainer #mainViewContainer .entityInfo .leftSection img {
  width: 100%;
}

#topContainer #mainViewContainer .entityInfo .rightSection {
  width: 70%;
  float: left;
  padding: 5px 10px 5px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#topContainer #mainViewContainer .entityInfo .rightSection h2 {
  margin-top: 0px;
  letter-spacing: 1px;
}

#topContainer #mainViewContainer .entityInfo .rightSection p {
  color: #939393;
  font-weight: 200;
}

#topContainer #mainViewContainer .trackListContainer {
  display: flow-root;
}

#topContainer #mainViewContainer .trackListContainer ul {
  list-style-type: none;
  padding-left: 0px;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow {
  padding: 10px 0px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow div {
  float: left;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow span {
  vertical-align: middle;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackCount {
  width: 10%;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackCount .playAlbum {
  width: 18px;
  height: 18px;
  visibility: hidden;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackInfo {
  width: 50%;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackInfo .trackName {
  color: #fff;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackOption {
  text-align: center;
  width: 20%;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackOption .optionButton {
  width: 40px;
  visibility: hidden;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow .trackDuration {
  width: 20%;
  text-align: center;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover {
  background-color: #282828;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover .trackCount .playAlbum {
  visibility: visible;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover .trackCount .trackNumber {
  visibility: hidden;
}

#topContainer #mainViewContainer .trackListContainer ul .trackListRow:hover .trackOption .optionButton {
  visibility: visible;
}

.optionMenu {
  position: fixed;
  background-color: #282828;
  width: 200px;
  border: 1px solid #939393;
  border-radius: 3px;
  z-index: 1000;
  display: none;
}

.optionMenu .item {
  background-color: #282828;
  border: 1px solid #a7a7a7;
  width: 100%;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  color: #a5a5a5;
  cursor: pointer;
}

.optionMenu .item:hover {
  color: white;
}

.playlistContainer .buttonItem {
  margin: 30px 0px;
}

.playlistContainer .buttonItem .newPlaylist {
  padding: 10px 40px;
  border: 2px solid #494949;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */